.form {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.program-selection__title {
  padding: 0 var(--page-indentation);
  margin: 42px 0 37px;
}

.program-selection__subtitle {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 39px;
  padding: 0 var(--page-indentation);
}

// Информация о коте

.form__cat-info {
  border: none;
  padding: 0 var(--page-indentation) 24px;

  &--line {
    border-bottom: solid 1px #d9d9d9;
  }
}

.form__cat-info-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 14px;
}

.form__cat-info-item {
  list-style: none;
  margin: 0 0 14px;
}

.form__cat-info-label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form__cat-info-description {
  font-family: inherit;
  font-size: inherit;
  border: none;
  color: inherit;
  text-transform: inherit;
  margin: 0 0 0 13px;
  padding: 14px 15px 13px;
  outline: solid 1px #e7e7e7;
  flex: 1;
  box-sizing: border-box;
  transition: outline 0.3s ease;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }

  &[type="number"] {
    appearance: textfield;
  }

  &:hover {
    outline: #cdcdcd solid 1px;
  }

  &:focus,
  &:active {
    outline: #444444 solid 2px;
  }

  &:invalid {
    outline: #ff8282 solid 2px;
  }
}

// Цель диеты

.form__nutrition {
  border: none;
  padding: 23px var(--page-indentation) 6px;


  &--line {
    border-bottom: solid 1px #d9d9d9;
  }
}

.form__nutrition-list {
  margin: 0;
  padding: 0;
}

.form-label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: 15px;
  margin: 0 0 13px;
  transition: opacity 0.2s ease-in-out;
}

.form__nutrion-input-radio {
  list-style: none;
  margin: 0;
}

.form__radio-style,
.form__checkbox-style {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: baseline;
  position: relative;
  color: #ffffff;
}

.form__radio-style {
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    outline: solid 1px #cdcdcd;
  }

  &::after {
    position: absolute;
    content: "";
    background-color: $main-color;
    width: 13px;
    height: 13px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }
}

.form__nutrition-radio:checked+.form__radio-style::after {
  opacity: 1;
}

.form-label:hover .form__nutrition-radio:not(:disabled):not(:active)+.form__radio-style::before,
.form-label:hover .form__nutrition-radio:not(:disabled):not(:active)+.form__radio-style+.form__nutrition-text {
  outline-color: #bababa;
  color: #222222;
  transition: outline-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.form-label .form__nutrition-radio:disabled+.form__radio-style::before,
.form-label .form__nutrition-radio:disabled+.form__radio-style::after,
.form-label .form__nutrition-radio:disabled+.form__radio-style+.form__nutrition-text {
  opacity: 0.5;
  cursor: not-allowed;
}

// Контактные данные

.form__owner {
  border: none;
  padding: 26px var(--page-indentation) 24px;
}

.form__owner-title {
  text-transform: none;
  margin: 0;
  padding: 26px 0 35px;
  position: relative;
  width: 100%;
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    width: calc(70% + 20px);
    height: 100%;
    background-color: #ffffff;
    z-index: -1;
  }

  &::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background-color: $main-color;
    top: 40px;
    left: 20px;
    z-index: -2;
  }
}


.form__owner-list {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form__owner-item {
  list-style: none;
  margin: 0 0 14px;
}

.form__owner-label {
  display: flex;
  align-items: center;
}

.form__owner-input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  color: inherit;
  text-transform: inherit;
  margin: 0 0 0 13px;
  padding: 14px 15px 13px;
  flex: 1;
  outline: solid 1px #cdcdcd;
  box-sizing: border-box;
}


// Комментарий

.form__comments {
  border: none;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form__comments-title {
  text-transform: none;
  margin: 0 0 38px;
}


.form__comments-textarea {
  font-family: inherit;
  text-transform: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 14px 14px 0;
  border: none;
  outline: 1px solid #e7e7e7;
  resize: vertical;
  min-width: 280px;
  width: 100%;
  box-sizing: border-box;
}

// Дополнительно

.form__extras {
  padding: 0;
  border: none;
}

.form__extras-title {
  text-transform: none;
  margin: 0 0 36px;
}

.form__extras-list {
  margin: 0;
  padding: 0;
}


.form__extras-item {
  list-style: none;
  margin: 0 0 13px;
}

// Форма отправки

.form__footer {
  display: grid;
  grid-template-rows: 1fr 1fr;
}



.form__button {
  background-color: $main-color;
  color: #ffffff;
  border: none;
  padding: 10px 78px;
  margin: 0 0 21px;
  display: block;
  width: fit-content;
  grid-row: 1 / 2;
}


.form__notice {
  font-family: $base-font;
  text-transform: none;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  padding: 0 0 0 60px;
  grid-row: 2 / 3;
}
