.program-selection__title {
  padding: 0 var(--page-indentation);
  margin: 28px 0 39px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 40px 55px;
  }

  @media (min-width: 1100px) {
    margin: 33px 0 55px;
  }
}

.program-selection__subtitle {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 40px;
  padding: 0 var(--page-indentation);
  max-width: 75%;

  @media (min-width: $tablet-width) {
    margin: 0 40px 66px;
    max-width: 50%;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: 1100px) {
    margin: 0 0 66px;
    max-width: 25%;
  }
}

.form {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-title {
  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__layout-wrapper {
  @media (min-width: 1100px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 var(--page-indentation);
    gap: 80px;
    margin: 0 auto 55px;
  }
}

// Информация о коте

.form__cat-info {
  border: none;
  padding: 0 var(--page-indentation);
  margin: 0;

  &--line {
    border-bottom: solid 1px #d9d9d9;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }

  @media (min-width: 1100px) {
    flex: 1;
    padding: 0;
  }
}

.form__cat-info-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2px;
  margin: 0 0 10px;

  @media (min-width: $tablet-width) {
    gap: 10px;
    margin: 0 40px 38px;
  }

  @media (min-width: 1100px) {
    margin: 0;
  }
}

.form__cat-info-item {
  list-style: none;
  margin: 0 0 14px;
}

.form__cat-info-label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form__cat-info-description {
  font-family: inherit;
  font-size: inherit;
  border: none;
  color: inherit;
  text-transform: inherit;
  margin: 0 0 0 13px;
  padding: 10px 0 9px 17px;
  outline: solid 1px #e7e7e7;
  flex: 1;
  box-sizing: border-box;
  transition: outline 0.1s ease;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }

  &[type="number"] {
    appearance: textfield;
  }

  &:hover {
    outline: #cdcdcd solid 1px;
  }

  &:focus,
  &:active {
    outline: #444444 solid 2px;
  }

  &:invalid {
    outline: #ff8282 solid 2px;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 0 15px;
  }
}

// Цель диеты

.form__nutrition {
  border: none;
  padding: 22px var(--page-indentation) 9px;
  margin: 0 0 27px;

  &--line {
    @media (max-width: 767px) {
      border-bottom: solid 1px #d9d9d9;
    }
  }

  @media (min-width: 1100px) {
    flex: 1;
    padding: 0;
  }
}

.form__nutrition-list {
  margin: 0 0 6px;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 11px;

  @media (min-width: $tablet-width) {
    outline: solid 1px #d9d9d9;
    margin: 0 40px 65px;
    padding: 22px 25px 20px;
    gap: 7px;
  }

  @media (min-width: 1100px) {
    margin: 0;
    padding: 21px 28px;
  }
}

.form-label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: 15px;
  transition: opacity 0.25s ease-in;

  @media (min-width: $tablet-width) {
    gap: 19px;
  }
}

.form__nutrion-input-radio {
  list-style: none;
  margin: 0;
}

.form__radio-style,
.form__checkbox-style {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: baseline;
  position: relative;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form__radio-style {
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    outline: solid 1px #cdcdcd;
  }

  &::after {
    position: absolute;
    content: "";
    background-color: $main-color;
    width: 13px;
    height: 13px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 0;
    transition:
      opacity 0.25s ease-in-out,
      background-color 0.25s ease-in-out;

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 18px;
    }
  }
}

.form__nutrition-radio:checked + .form__radio-style::after {
  opacity: 1;
}

.form-label:hover .form__nutrition-radio:not(:disabled):not(:active) + .form__radio-style::before,
.form-label:hover .form__nutrition-radio:not(:disabled):not(:active) + .form__radio-style + .form__nutrition-text {
  outline-color: #bababa;
  color: #222222;
  transition:
    outline-color 0.25s ease-in-out,
    color 0.25s ease-in-out;
}

.form__nutrition-radio:focus-visible:not(:disabled):not(:active) + .form__radio-style {
  outline: 3px solid #444444;
  border-radius: 50%;
  outline-offset: 3px;
}

.form-label .form__nutrition-radio:disabled + .form__radio-style::before,
.form-label .form__nutrition-radio:disabled + .form__radio-style::after,
.form-label .form__nutrition-radio:disabled + .form__radio-style + .form__nutrition-text,
.form-label .form__extras-input:disabled + .form__checkbox-style::before,
.form-label .form__extras-input:disabled + .form__checkbox-style::after,
.form-label .form__extras-input:disabled + .form__checkbox-style + .form__extras-text {
  opacity: 0.5;
  cursor: not-allowed;
}
// Контактные данные

.form__owner {
  border: none;
  padding: 0 var(--page-indentation);

  @media (min-width: $tablet-width) {
    margin: 0 0 25px;
  }

  @media (min-width: 1100px) {
    margin: 0 auto 2px;
  }
}

.form__owner-wrapper {
  position: relative;
}

.form__owner-title {
  text-transform: none;
  padding: 0 25px 0 0;
  margin: 0 0 35px;
  width: min-content;
  display: inline-block;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    width: fit-content;
    padding: 0 40px;
    margin: 0 -40px 78px 0;
  }

  @media (min-width: 1100px) {
    margin: 0 0 78px -40px;
  }

  &::after {
    position: absolute;
    content: "";
    height: 2px;
    width: calc(100% - 30px);
    background-color: $main-color;
    top: 15px;
    left: 30px;
    z-index: -2;

    @media (min-width: $tablet-width) {
      top: 23px;
      left: 0;
      width: 100%;
    }
  }
}

.form__owner-list {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin: 0 40px 40px;
  }

  @media (min-width: 1100px) {
    margin: 0 0 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
  }
}

.form__owner-item {
  list-style: none;
  margin: 0 0 14px;

  @media (min-width: $tablet-width) {
    margin: 0 0 24px;
  }

  @media (min-width: 1100px) {
    margin: 0;
    flex: 1;
  }
}

.form__owner-label {
  display: flex;
  align-items: center;
  position: relative;
}

.form__owner-input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  color: inherit;
  text-transform: inherit;
  margin: 0 0 0 15px;
  padding: 11px 45px 9px 14px;
  flex: 1;
  outline: solid 1px #cdcdcd;
  box-sizing: border-box;
  transition:
    outline 0.1s ease,
    color 0.25s ease-in;

  &:hover {
    outline: #cdcdcd solid 1px;
  }

  &:focus,
  &:active {
    outline: #444444 solid 2px;
  }

  &:invalid {
    outline: #ff8282 solid 2px;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.icon--mail::before,
.icon--phone::before {
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 17px;
  transition: background-color 0.25s ease-in;
}

.icon--mail::before {
  mask-image: url("../img/stack.svg#email-stroke");
}

.icon--phone::before {
  mask-image: url("../img/stack.svg#phone-stroke");
}

.form__owner-input:hover:not(:disabled):not(:focus):not(:invalid) + .icon::before {
  background-color: #222222;
}

.form__owner-input:focus + .icon::before {
  background-color: $main-color;
}

.form__owner-input:active + .icon::before {
  background-color: $main-color;
}

.form__owner-input:invalid + .icon::before {
  background-color: #ff8282;
}

.form__owner-input:disabled + .icon::before {
  opacity: 0.5;
  cursor: not-allowed;
}

// Комментарий

.form__comments-wrapper {
  position: relative;
}

.form__comments {
  border: none;
  margin: 0 auto 21px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0 var(--page-indentation);
}

.form__comments-title {
  text-transform: none;
  padding: 11px 20px 0 0;
  width: min-content;
  display: inline-block;
  background-color: #ffffff;
  margin: 0 0 39px;

  @media (min-width: $tablet-width) {
    width: fit-content;
    padding: 0 40px 88px;
    margin: 0 -40px 0 0;

    @media (min-width: 1100px) {
      margin: 0 0 0 -40px;
      padding: 0 40px 77px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    height: 2px;
    width: calc(100% - 30px);
    background-color: $main-color;
    top: 26px;
    left: 30px;
    z-index: -2;

    @media (min-width: $tablet-width) {
      top: 20px;
      left: 0;
      width: 100%;
    }
  }
}

.form__comments-textarea {
  font-family: inherit;
  text-transform: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 14px 16px 0;
  border: none;
  outline: 1px solid #e7e7e7;
  resize: none;
  min-width: 280px;
  min-height: 150px;
  margin: 0;
  box-sizing: border-box;
  transition: outline 0.1s ease;

  @media (min-width: $tablet-width) {
    margin: 0 40px 67px;
    min-height: 172px;
    padding: 9px 21px 0;
  }

  @media (min-width: 1100px) {
    margin: 0 0 75px;
  }

  &:hover {
    outline: #cdcdcd solid 1px;
  }

  &:focus,
  &:active {
    outline: #444444 solid 2px;
  }

  &:invalid {
    outline: #ff8282 solid 2px;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

// Дополнительно

.form__extras-wrapper {
  position: relative;
}

.form__extras {
  border: none;
  padding: 0 var(--page-indentation);
  margin: 0 0 24px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }
}

.form__extras-title {
  text-transform: none;
  margin: 0;
  padding: 0 20px 35px 0;
  width: min-content;
  display: inline-block;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    width: fit-content;
    padding: 0 40px;
    margin: 0 -40px 55px 0;
  }

  @media (min-width: 1100px) {
    margin: 0 0 56px -40px;
  }

  &::after {
    position: absolute;
    content: "";
    height: 2px;
    width: calc(100% - 30px);
    background-color: $main-color;
    top: 16px;
    left: 30px;
    z-index: -2;

    @media (min-width: $tablet-width) {
      top: 20px;
      left: 0;
      width: 100%;
    }
  }
}

.form__checkbox-style {
  outline: solid 1px #cdcdcd;
  box-sizing: border-box;
  transition: outline-color 0.25s ease-in;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.25s ease-in-out;
    background-color: currentColor;
  }

  &::after {
    position: absolute;
    content: "";
    background-color: $main-color;
    mask-image: url("../img/stack.svg#check");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    outline: solid 1px #cdcdcd;
    transition: opacity 0.25s ease-in-out;
  }
}

.form__extras-input:checked + .form__checkbox-style::before {
  opacity: 0;
}

.form__extras-input:checked + .form__checkbox-style::after {
  opacity: 1;
}

.form-label:hover .form__extras-input:not(:disabled):not(:active) + .form__checkbox-style {
  outline-color: #cdcdcd;
}

.form-label:hover .form__extras-input:not(:disabled):not(:active) + .form__checkbox-style + .form__extras-text {
  color: #222222;
  transition: color 0.25s ease-in-out;
}

.form__extras-input:focus-visible:not(:disabled):not(:active) + .form__checkbox-style {
  outline: 3px solid #444444;
  outline-offset: 3px;
}

.form__extras-list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 0 36px 40px;
    gap: 17px 20px;
    max-width: 700px;
  }

  @media (min-width: 1100px) {
    margin: 0 0 44px;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    max-width: 100%;
  }
}

.form__extras-item {
  list-style: none;
  margin: 0 0 10px;
}

// Форма отправки

.form__footer {
  @media (min-width: $tablet-width) {
    padding: 0 var(--page-indentation);
  }
}

.form__footer-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  margin: 0 0 15px 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 10px 60px;
    margin: 0 40px 60px;
    max-width: 700px;
  }

  @media (min-width: 1100px) {
    margin: 0 0 80px;
    max-width: 100%;
    gap: 10px 80px;
  }
}

.form__button {
  background-color: $main-color;
  color: #ffffff;
  border: none;
  padding: 10px 0;
  margin: 0 0 6px;
  display: block;
  width: fit-content;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 20px;
    line-height: 26px;
    padding: 14px 45px;
    align-self: start;
    min-width: 284px;
  }

  @media (min-width: 1100px) {
    padding: 14px 188px;
    width: 100%;
  }
}

.form__notice {
  font-family: $base-font;
  text-transform: none;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  padding: 0 0 0 63px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    grid-column: 2 / -1;
    grid-row: 1;
    padding: 0 0 7px 2px;
    align-self: end;
  }
}
