.form {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}


// Информация о коте

.form__cat-info {
  margin: 0;
  padding: 0 20px 26px;
  border: none;

  &--line {
    border-bottom: solid 1px #d9d9d9;
  }
}

.form__cat-info-list {
  margin: 0;
  padding: 0;
}

.form__cat-info-item {
  list-style: none;
  margin: 0 0 14px;
}

.form__cat-info-label {
  display: flex;
  align-items: center;
}

.form__cat-info-description {
  font-family: inherit;
  border: none;
  color: inherit;
  text-transform: inherit;
  margin: 0 0 0 13px;
  padding: 14px 15px 13px;
  flex: 1;
  outline: solid 1px $form-border;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &[type=number] {
    -moz-appearance: textfield;
  }
}

