.form {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}


// Информация о коте

.form__cat-info {
  margin: 0 0 23px;
  padding: 0 20px 26px;
  border: none;

  &--line {
    border-bottom: solid 1px #d9d9d9;
  }
}

.form__cat-info-list {
  margin: 0;
  padding: 0;
}

.form__cat-info-item {
  list-style: none;
  margin: 0 0 14px;
}

.form__cat-info-label {
  display: flex;
  align-items: center;
}

.form__cat-info-description {
  font-family: inherit;
  border: none;
  color: inherit;
  text-transform: inherit;
  margin: 0 0 0 13px;
  padding: 14px 15px 13px;
  flex: 1;
  outline: solid 1px #e7e7e7;
}

.form__cat-info-description::-webkit-outer-spin-button,
.form__cat-info-description::-webkit-inner-spin-button {
  --webkit-appearance: none;
}

.form__cat-info-description[type="number"] {
  --moz-appearance: textfield;
}

// Цель диеты

.form__nutrition {
  border: none;
  margin: 0;

  &--line {
    border-bottom: solid 1px #d9d9d9;
  }
}

.form__nutrition-list {
  margin: 0;
  padding: 0;
}

.form__nutrion-input-radio {
  list-style: none;
  margin: 0 0 13px;
}

.form__nutrition-text {
  margin: 0 0 0 15px;
}

// Контактные данные

.form__owner {
  border: none;
  margin: 0 0 10px;
}

.form__owner-title {
  text-transform: none;
  margin: 0 0 35px;
  padding: 26px 0 0;
}

.form__owner-list {
  margin: 0;
  padding: 0;
}

.form__owner-item {
  list-style: none;
  margin: 0 0 14px;
}

.form__owner-label {
  display: flex;
  align-items: center;
}

.form__owner-input {
  font-family: inherit;
  border: none;
  color: inherit;
  text-transform: inherit;
  margin: 0 0 0 13px;
  padding: 14px 15px 13px;
  flex: 1;
  outline: solid 1px #cdcdcd;
}

// Комментарий

.form__comments {
  border: none;
  margin: 0 0 23px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
}

.form__comments-title {
  text-transform: none;
  margin: 0 0 38px;
}

.form__comments-textarea {
  font-family: inherit;
  text-transform: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 14px 14px 0;
  border: none;
  outline: 1px solid #e7e7e7;
  resize: vertical;
  flex: 1;
}

// Дополнительно

.form__extras {
  margin: 0 0 34px;
  padding: 0 20px;
  border: none;
}

.form__extras-title {
  text-transform: none;
  margin: 0 0 36px;
}

.form__extras-list {
  margin: 0;
  padding: 0;
}

.form__extras-item {
  list-style: none;
  margin: 0 0 13px;
}

// Форма отправки

.form__footer {
  margin: 0 0 32px;
  padding: 0 20px;
}

.form__button {
  background-color: $main-color;
  color: #ffffff;
  border: none;
  padding: 10px 78px;
  margin: 0 0 21px;
}

.form__notice {
  font-family: $base-font;
  text-transform: none;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-align: center;
}
