.program-selection__subtitle {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 auto 35px;
  padding: 0 20px;
  width: $mobile-width;
}
