.program-selection__title {
  margin: 27px 0 37px;
}

.program-selection__subtitle {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 35px;
}
