.page-main__catalog {
  position: relative;
  margin: 0 0 25px;
  box-sizing: border-box;

  @media (min-width: 570px) {
    margin: 0 0 70px;
  }

  @media (min-width: 1100px) {
    margin: 0 0 76px;
  }
}

.catalog__card-container {
  @media (max-width: 569px) {
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;

      &::before {
        border-top: 1px solid #ebebeb;
      }

      &::after {
        border-bottom: #ebebeb 1px solid;
      }
    }
  }

  @media (min-width: 570px) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(auto, max-content);
    gap: 20px;
    padding: 0 var(--page-indentation);
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
    gap: 74px 60px;
  }

  @media (min-width: 1100px) {
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    gap: 80px;
  }
}

.catalog__title {
  padding: 0 20px;
  margin: 29px 0 40px 0;

  @media (min-width: 570px) {
    padding: 0 var(--page-indentation);
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 96px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: 1100px) {
    margin: 32px 0 100px;
  }
}

.catalog__additionally {
  text-align: center;
  padding: 26px 0 23px;
  box-sizing: border-box;
  display: grid;
  align-items: start;
  grid-auto-rows: minmax(max-content);
  grid-template-rows: auto 0.5fr 1fr auto;

  @media (min-width: 570px) {
    outline: 1px solid #f2f2f2;
    min-height: 86%;
    align-self: end;
    padding: 48px 0 40px;
  }

  @media (min-width: $tablet-width) {
    min-width: 324px;
    margin: 0 auto;
    padding: 53px 0 36px;
    max-width: 354px;
  }

  @media (min-width: 1100px) {
    min-width: 245px;
    max-width: 294px;
    padding: 50px 0 36px;
  }
}

.catalog__additionally-more {
  display: block;
  margin: 0 auto 23px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  position: relative;
  cursor: pointer;

  @media (min-width: 570px) {
    width: 60px;
    height: 60px;
    margin: 0 auto 20px;
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto 47px;
  }

  @media (min-width: 1100px) {
    margin: 0 auto 35px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: #d3d3d3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition:
      opacity 0.25s ease-in,
      background-color 0.25s ease-in;
  }

  &::before {
    height: 2px;
    width: 30px;
    margin: -1px 0 0 0;

    @media (min-width: 570px) {
      width: 60px;
    }
  }

  &::after {
    width: 2px;
    height: 30px;
    margin: 0 0 0 -1px;

    @media (min-width: 570px) {
      height: 60px;
    }
  }

  &:hover::before,
  &:hover::after {
    background-color: #c1c1c1;
  }

  &:focus::before,
  &:focus::after {
    background-color: #c1c1c1;
  }

  &:active::before,
  &:active::after {
    background-color: #cdcdcd;
    opacity: 0.6;
  }
}

.catalog__additionally-title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  letter-spacing: -0.5px;
  margin: 0 0 9px;

  @media (min-width: 570px) {
    font-size: 20px;
    line-height: 26px;
    padding: 0 50px;
    margin: 0 0 20px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 80px;
  }

  @media (min-width: 1100px) {
    padding: 0 40px;
  }
}

.catalog__additionally-text {
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 21px;
  padding: 0;

  @media (min-width: 570px) {
    font-size: 16px;
    line-height: 18px;
    padding: 0 50px 10px;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: 1100px) {
    padding: 0 38px 10px;
  }
}

.catalog__additionally-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  background-color: #f2f2f2;
  color: #444444;
  text-decoration: none;
  border: none;
  transition: background-color 0.25s ease-in;
  min-height: 40px;
  width: calc(100% - 40px);

  &:hover {
    background-color: #ebebeb;
  }

  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: #444444;
  }

  @media (min-width: 570px) {
    width: calc(100% - 74px);
  }
}
