.extras__layout {
  padding: 0 var(--page-indentation);
  margin: 0 0 36px;

  @media (min-width: 650px) {
    margin: 0 0 72px;
  }

  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr 245px;
    grid-template-rows: 1fr auto;
    grid-column-gap: 80px;
    margin: 0 auto 90px;
  }
}

.extras__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  margin: 0 0 35px;
  background-color: #ffffff;
  padding: 0 20px 0 0;
  width: fit-content;
  letter-spacing: -0.8px;

  @media (min-width: 650px) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px 83px 80px;
    margin: 0 -40px 0;
    letter-spacing: -1.2px;
  }

  @media (min-width: 1200px) {
    grid-column: 1 / -1;
    padding: 0 40px 82px;
    margin: 0 0 0 -41px;
  }

  &::after {
    position: absolute;
    content: "";
    height: 2px;
    width: calc(100% - 30px);
    background-color: $main-color;
    top: 17px;
    left: 30px;
    z-index: -2;

    @media (min-width: 650px) {
      top: 25px;
      left: 0;
      width: 100%;
    }
  }
}

.extras__catalog {
  margin: 0 0 34px;
  padding: 0;

  @media (min-width: 650px) {
    margin: 0 0 70px;
  }

  @media (min-width: 1200px) {
    margin: 0;
  }
}

.extras__product {
  list-style: none;

  &--border-top {
    border-top: 1px solid #cdcdcd;
  }

  &--border-bottom {
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: 650px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
  }

  @media (min-width: 650px) and (max-width: 1099px) {
    border: 1px solid #cdcdcd;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-column-gap: 40px;
  }
}

.extras__subject {
  margin: 14px 0 10px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: -0.5px;

  @media (min-width: 650px) {
    grid-column: 1 / 2;
    margin: 0 0 0 41px;
    padding: 25px 0 25px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: 1200px) {
    margin: 0;
    padding: 25px 0 0 0;
  }
}

.extras__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 15px;

  @media (min-width: 650px) {
    grid-column: 2 / 3;
    margin: 27px 44px 0 0;
    justify-content: flex-end;
  }

  @media (min-width: 1200px) {
    padding: 25px 0;
    margin: 0;
    justify-content: space-between;
  }
}

.extras__definition,
.extras__term {
  margin: 0;

  @media (min-width: 650px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.extras__definition {
  @media (min-width: 1200px) {
    margin: 0 0 0 95px;
    width: fit-content;
  }
}

.extras__term {
  @media (min-width: 650px) {
    margin: 0 0 0 50px;
  }

  @media (min-width: 1200px) {
    text-align: start;
    min-width: 42px;
    margin: 0 0 0 0;
  }
}

.extras__button {
  display: block;
  background-color: $main-color;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  margin: 0 0 16px;
  box-sizing: border-box;

  @media (min-width: 650px) {
    grid-column: 1 / -1;
    margin: 0 37px 27px;
  }

  @media (min-width: 1200px) {
    grid-column: 3 / 4;
    align-self: center;
    justify-self: end;
    margin: 0;
    min-width: 244px;
  }
}

.extras__footer {
  position: relative;
  min-width: 280px;
  min-height: 290px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: center;

  @media (min-width: 650px) {
    min-height: 200px;
    align-items: center;
    justify-content: end;
  }

  @media (min-width: 1200px) {
    min-width: 245px;
    min-height: 286px;
    align-items: end;
    justify-content: center;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $main-color;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
  }

  &::before {
    background-image: image-set(
      url("../img/catalog/cat-case--small@2x.webp") type("image/webp") 2x,
      url("../img/catalog/cat-case--small.webp") type("image/webp") 1x,
      url("../img/catalog/cat-case--small@2x.jpg") 2x,
      url("../img/catalog/cat-case--small.jpg") 1x
    );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;

    @media (min-width: 650px) {
      background-image: image-set(
        url("../img/catalog/cat-case--medium@2x.webp") type("image/webp") 2x,
        url("../img/catalog/cat-case--medium.webp") type("image/webp") 1x,
        url("../img/catalog/cat-case--medium@2x.jpg") 2x,
        url("../img/catalog/cat-case--medium.jpg") 1x
      );
    }

    @media (min-width: 1200px) {
      background-image: image-set(
        url("../img/catalog/cat-case--large@2x.webp") type("image/webp") 2x,
        url("../img/catalog/cat-case--large.webp") type("image/webp") 1x,
        url("../img/catalog/cat-case--large@2x.jpg") 2x,
        url("../img/catalog/cat-case--large.jpg") 1x
      );
    }
  }

  &::after {
    opacity: 0.85;
    z-index: -1;
  }
}

.extras__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  padding: 0 61px 26px 58px;
  max-width: 161px;

  @media (min-width: 650px) {
    text-align: start;
    padding: 0 125px 0 0;
  }

  @media (min-width: 1200px) {
    text-align: center;
    padding: 0 0 27px;
  }
}

.extras__icon {
  position: absolute;
  content: "";
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 78px;
  height: 81px;
  fill: #ffffff;

  @media (min-width: 650px) {
    left: 80px;
    top: 50%;
    transform: translate(0, -50%);
  }

  @media (min-width: 1200px) {
    top: 55px;
    left: 85px;
    transform: translate(0);
  }
}
