.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__container {
  width: 280px;
  height: 256px;
  position: relative;
  --position: 50%;

  @media (min-width: 600px) {
    width: 560px;
    height: 512px;
  }
}

.slider__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
}

.slider__image--before {
  left: 0;
  width: var(--position);
  object-position: left;
  transition: opacity 0.25s ease;
}

.hidden {
  opacity: 0;
}

.slider__image--after {
  right: 0;
  width: calc(100% - var(--position));
  object-position: right;
}

.slider__line {
  position: absolute;
  inset: 0;
  width: 4px;
  height: 100%;
  background-color: #666666;
  left: var(--position);
  transform: translateX(-50%);
  pointer-events: none;
  transition: background-color 0.25s ease;
}

.slider__input {
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
  width: 100%;
  height: 100%;
  outline: 0;

  &:hover ~ .slider__line {
    background-color: $main-color;
  }

  &:hover:not(:focus-visible) ~ .slider__button {
    outline-color: $main-color;

    &::before {
      border-color: transparent $main-color transparent transparent;
    }

    &::after {
      border-color: transparent transparent transparent $main-color;
    }
  }

  &:active ~ .slider__line {
    background-color: rgba(#5eaa2f, 0.6);
  }

  &:active:not(:focus-visible) ~ .slider__button {
    outline-color: rgba(#5eaa2f, 0.6);

    &::before {
      border-color: transparent rgba(#5eaa2f, 0.6) transparent transparent;
    }

    &::after {
      border-color: transparent transparent transparent rgba(#5eaa2f, 0.6);
    }
  }

  &:focus-visible ~ .slider__button {
    outline: 3px solid #444444;
    outline-offset: 3px;
  }
}

.slider__button {
  position: absolute;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  place-items: center;
  top: 50%;
  left: var(--position);
  transform: translate(-50%, -50%);
  pointer-events: none;
  outline: 2px solid #666666;
  transition: outline-color 0.25s ease;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-style: solid;
    width: 0;
    height: 0;
    transition: border-color 0.25s ease;
  }

  &::before {
    border-width: 9px 8px 9px 0;
    border-color: transparent #666666 transparent transparent;
    left: 8px;
  }

  &::after {
    border-width: 9px 0 9px 8px;
    border-color: transparent transparent transparent #666666;
    right: 8px;
  }
}
