.success-stories {
  background-color: #eaeaea;

  @media (min-width: 600px) {
    background-image: linear-gradient(to top, #eaeaea 465px, #ffffff 0);
  }

  @media (min-width: 1100px) {
    background-image: linear-gradient(to top, #f2f2f2 465px, #ffffff 0);
  }
}

.success-stories__container {
  padding: 25px var(--page-indentation) 40px;

  @media (min-width: 600px) {
    padding: 45px var(--page-indentation);
  }

  @media (min-width: 1100px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 80px;
    padding: 0 var(--page-indentation) 32px;
  }

  @media (min-width: 1200px) {
    grid-column-gap: 90px;
  }
}

.success-stories__title {
  margin: 0 0 40px;

  @media (min-width: 600px) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 60px;
  }

  @media (min-width: 1100px) {
    grid-column: 1 / 2;
    margin: 0 0 146px;
  }
}

.success-stories__description {
  margin: 0 0 20px;

  @media (min-width: 600px) {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 55px;
  }

  @media (min-width: 1100px) {
    grid-column: 1 / 2;
    margin: 0 0 69px;
    padding: 0 130px 0 0;
  }
}

.success-stories__progress-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 90px;
  }

  @media (min-width: 1100px) {
    grid-column: 1 / 2;
    margin: 0;
  }
}

.success-stories__progress-item {
  display: grid;
  grid-template-columns: 124px 124px;
  grid-column-gap: 32px;
  grid-template-rows: auto;
  text-align: center;
  align-items: stretch;
  margin: 0 0 12px;
  padding: 0;
  list-style: none;

  @media (min-width: 600px) {
    grid-template-columns: 160px 160px;
    text-align: center;
    margin: 0;
    grid-column-gap: 46px;
  }
}

.success-stories__progress-list {
  @media (min-width: 1100px) {
    margin: 0 0 46px;
  }
}

.success-stories__metrics {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  display: block;
  padding: 13px 0 17px;
  outline: 1px solid #cdcdcd;
  border-radius: 2px;
  list-style: none;
  color: #000000;

  @media (min-width: 600px) {
    font-size: 30px;
    line-height: 37px;
    padding: 15px 0 19px;
  }
}

.success-stories__options {
  font-size: 12px;
  line-height: 100%;
  display: block;
  width: min-content;
  transform: translateY(-8px);
  background-color: #eaeaea;
  padding: 0 10px;
  margin: 0 auto;

  @media (min-width: 600px) {
    font-size: 14px;
    background-color: #ffffff;
    width: fit-content;
  }

  @media (min-width: 1100px) {
    background-color: #f2f2f2;
  }
}

.success-stories__accent-text {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 20px -2px;

  @media (min-width: 600px) {
    font-size: 20px;
    color: #000000;
    text-align: end;
    margin: 12px 4px 0 0;
  }

  @media (min-width: 1100px) {
    display: grid;
    grid-template-columns: 180px 180px;
    margin: 0 0 0 2px;
    text-align: start;
    grid-column-gap: 55px;
  }
}

.success-stories__accent-content {
  @media (min-width: 600px) {
    display: block;
    padding: 0 0 9px;
  }
}

.success-stories__slider {
  @media (min-width: $tablet-width) {
    margin: 0 0 58px;
  }

  @media (min-width: 1100px) {
    grid-column: 2 / 3;
    grid-row: 1 / span 4;
    justify-content: flex-end;
  }
}
