.basic-button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffffff;
  color: var(--accent-color);
  cursor: pointer;
}
