.basic-button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffffff;
  color: var(--accent-color);
  cursor: pointer;
}

.page-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.position-container {
  max-width: $desktop-width;
  margin: 0 auto;
}

.text-logo {
  display: block;
  padding: 10px 0;
}
