.basic-button {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $main-color;
  color: #ffffff;
  cursor: pointer;
  transition:
    background-color 0.25s ease-in,
    color 0.25s ease-in;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(#ffffff, 0.7);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.position-container {
  max-width: $desktop-width;
  margin: 0 auto;
  box-sizing: border-box;
}

.position-container--catalog {
  padding: 0 var(--page-indentation);
}

.text-logo {
  display: block;
  padding: 10px 0;
}
