.basic-button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $main-color;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.basic-button:hover,
.basic-button:focus {
  background-color: #5eaa2f;
}

.basic-button:active {
  background-color: #5eaa2f;
  color: rgba(#ffffff, 0.7);
}

.page-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.position-container {
  max-width: $desktop-width;
  margin: 0 auto;
  box-sizing: border-box;
}

.text-logo {
  display: block;
  padding: 10px 0;
}

.page-header__title-wrapper {
  padding: 0 var(--page-indentation);
}
