.basic-title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
}

.primary-title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: 400;
}

.form-title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  font-weight: 400;
}
