.basic-title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
}

.primary-title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: 400;
}

.page-title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: 400;
}

.form-title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  font-weight: 400;
}

.page-header__title {
  margin: 0 0 41px;
  padding: 27px var(--page-indentation) 0;
}

.page-header__subtitle {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 35px;
  padding: 0 var(--page-indentation);
}


@media (min-width: $tablet-width) {
  .basic-title {
    font-size: 60px;
    line-height: 60px;
  }

  .primary-title {
    font-size: 60px;
    line-height: 60px;
  }

  .page-title {
    font-size: 60px;
    line-height: 60px;

    &--catalog {
      margin: 0 0 84px;
    }

    &--form {
      margin: 65px 0 54px;
      padding: 0 calc(var(--page-indentation) + 40px);
    }
  }

  .page-header__subtitle {
    &--form {
      width: 50%;
      font-size: 20px;
      line-height: 30px;
      margin: 0 0 66px;
      padding: 0 calc(var(--page-indentation) + 40px);
    }
  }
}
