// Цветовая схема
$main-color: #68b738;

//Шрифты
$base-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

// Вьюпорты
$tablet-width: 768px;
$desktop-width: 1440px;

:root {
  --page-indentation: 20px;
}

//Отвечает за паддинги
@media (min-width: $tablet-width) {
  :root {
    --page-indentation: 30px;
  }
}

@media (min-width: $desktop-width) {
  :root {
    --page-indentation: 110px;
  }
}
