// Цветовая схема
$main-color: #68b738;

//Шрифты
$base-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

// Вьюпорты
$tablet-width: 768px;
$desktop-width: 1440px;

:root {
  --page-indentation: 20px;
  --scale-factor: 1;

}

@media (min-width: $tablet-width) {
  :root {
    --page-indentation: 30px;
  }
}

@media (min-width: $desktop-width) {
  :root {
    --page-indentation: 110px;
  }
}

@media (min-width: 360px) {
  :root {
    --scale-factor: 1.18;
  }
}

@media (min-width: 400px) {
  :root {
    --scale-factor: 1.35;
  }
}

@media (min-width: 450px) {
  :root {
    --scale-factor: 1.56;
  }
}

@media (min-width: 500px) {
  :root {
    --scale-factor: 1.75;
  }
}

@media (min-width: 550px) {
  :root {
    --scale-factor: 1.94;
  }
}

@media (min-width: 600px) {
  :root {
    --scale-factor: 0.9;
  }
}
