// Цветовая схема
$main-color: #68b738;
$form-border: #e7e7e7;

//Шрифты
$base-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

// Ширина окна
$mobile-width: 320px;
