// Цветовая схема
$main-color: #68b738;

//Шрифты
$base-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

// Вьюпорты
$tablet-width: 768px;
$desktop-width: 1440px;

:root {
  --page-indentation: 20px;
  --scale-factor: 1;

}

@media (min-width: $tablet-width) {
  :root {
    --page-indentation: 30px;
  }
}

@media (min-width: $desktop-width) {
  :root {
    --page-indentation: 110px;
  }
}

@media (min-width: 375px) {
  :root {
    --scale-factor: 1.25;
  }
}

@media (min-width: 425px) {
  :root {
    --scale-factor: 1.5;
  }

  @media (min-width: 475px) {
    :root {
      --scale-factor: 1.75;
    }
  }
}
