.contacts__wrapper {
  padding: 27px 0;
  box-sizing: border-box;

  &--index {
    background-color: #ffffff;
  }

  @media (min-width: 600px) {
    padding: 63px 42px 60px 40px;
  }

  @media (min-width: 1100px) {
    position: relative;
    margin: 0 auto;
    padding: 0;
    max-width: $desktop-width;
  }
}

.contacts__text-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: space-between;
  padding: 0 var(--page-indentation);
  margin: 0 auto;

  @media (min-width: 600px) {
    max-width: 700px;
  }

  @media (min-width: 1100px) {
    position: absolute;
    background-color: #ffffff;
    width: 565px;
    min-height: 199px;
    z-index: 1;
    left: 110px;
    top: 95px;
    padding: 60px 80px 60px 80px;
  }
}

.contacts__invitation {
  width: 140px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  align-self: start;
  margin: 0;

  @media (min-width: 600px) {
    width: 165px;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  line-height: 20px;
  font-style: normal;
  justify-self: end;
  width: 140px;

  @media (min-width: 600px) {
    font-size: 16px;
  }

  @media (min-width: 600px) and (max-width: 1099px) {
    width: 165px;
    text-align: end;
  }

  @media (min-width: 1110px) {
    width: 160px;
    margin: -2px -5px 0 0;
  }
}

.contacts__street,
.contacts__city {
  display: block;
  margin: 0 0 0 -5px;
}

.contacts__street {
  @media (min-width: 600px) {
    margin: 0 0 19px;
  }
}

.contacts__map {
  height: 362px;
  background-color: #ececec;

  @media (min-width: 600px) {
    height: 400px;
  }

  &--no-js {
    width: 100%;
    height: 362px;
    max-width: $desktop-width;
    display: block;
    margin: 0 auto;
    background-image: image-set(
      url("../img/map/map--small@2x.webp") type("image/webp") 2x,
      url("../img/map/map--small.webp") type("image/webp") 1x,
      url("../img/map/map--small@2x.jpg") 2x,
      url("../img/map/map--small.jpg") 1x
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-width: 600px) {
      height: 400px;
      background-image: image-set(
        url("../img/map/map--medium@2x.webp") type("image/webp") 2x,
        url("../img/map/map--medium.webp") type("image/webp") 1x,
        url("../img/map/map--medium@2x.jpg") 2x,
        url("../img/map/map--medium.jpg") 1x
      );
    }

    @media (min-width: 1099px) {
      max-width: 1440px;
      background-image: image-set(
        url("../img/map/map--large@2x.webp") type("image/webp") 2x,
        url("../img/map/map--large.webp") type("image/webp") 1x,
        url("../img/map/map--large@2x.jpg") 2x,
        url("../img/map/map--large.jpg") 1x
      );
    }
  }
}
