.contacts-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  padding: 26px 20px;
  align-items: center;
  background-color: #ffffff;
}

.contacts__invitation {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.contacts__address {
  line-height: 20px;
  font-style: normal;
}

.contacts__map {
  min-height: 320px;
}
