.developers {
  padding: 30px var(--page-indentation);
  position: relative;
}

.developers__link {
  font-size: 16px;
  line-height: 20px;
  display: block;
  text-decoration: none;
  color: inherit;
  width: fit-content;
  margin: 0 0 0 auto;
}

.developers__text {
  position: absolute;
  left: var(--page-indentation);
  top: 50%;
  transform: translateY(-50%);
}

.developers__logo {
  display: block;
}
