.developers {
  position: relative;
  padding: 30px 20px;

  @media (min-width: 600px) {
    padding: 0;
  }
}

.page-footer__developers {
  @media (min-width: 600px) {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
  }
}

.developers__link {
  font-size: 16px;
  line-height: 20px;
  display: block;
  text-decoration: none;
  color: inherit;
  width: fit-content;
  transition: opacity 0.3s ease-in;

  &::before {
    content: "";
    position: absolute;
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
    width: 27px;
    height: 34px;
    background-color: #666666;
    -webkit-mask-image: url("../img/sprite.svg#academy");
    mask-image: url("../img/sprite.svg#academy");
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.3s, background-color 0.3s ease-in;
  }

  &:hover::before {
    background-color: $main-color;
  }

  &:focus::before {
    background-color: $main-color;
  }

  &:active {
    opacity: 0.3;
  }

  &:active::before {
    background-color: $main-color;
    opacity: 0.3;
  }


  @media (min-width: 600px) {
    font-size: 16px;
    line-height: 20px;
    margin: 0 50px 0 0;
  }

  &::before {
    @media (min-width: 600px) {
      right: 0;
    }
  }
}
