.developers {
  padding: 30px 0;
}

.developers__link {
  font-size: 16px;
  line-height: 20px;
  position: relative;
  display: block;
  text-decoration: none;
  color: inherit;
  pointer-events: none;
  min-height: 34px;
}

.developers__text {
  position: absolute;
  left: var(--padding-xs);
  pointer-events: auto;
}

.developers__logo {
  position: absolute;
  right: var(--padding-xs);
  pointer-events: auto;
}

@media (min-width: $width-m) {
  .developers__text {
    left: var(--padding-m);
  }

  .developers__logo {
    right: var(--padding-m);
  }
}

@media (min-width: $width-xl) {
  .developers__text {
    left: var(--padding-xl);
  }

  .developers__logo {
    right: var(--padding-xl);
  }
}
