.page-footer {
  background-color: #f2f2f2;
  padding: 0 0 20px;
}


.page-footer__container {
  @media (min-width: 600px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    align-items: center;
    box-sizing: border-box;
    padding: 43px var(--page-indentation);
  }

  @media (min-width: 1100px) {
    padding: 52px var(--page-indentation);
  }

}

.page-footer__logo {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  padding: 29px 0 9px;

  @media (min-width: 600px) {
    padding: 0;
    justify-content: flex-start;
  }
}

.page-footer__link-logo {
  display: block;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  .page-footer__text-logo {
    width: 128px;
    height: 24px;
  }

  @media (min-width: 600px) {
    padding: 0;
    justify-content: flex-start;
  }
}
