.page-footer__social-media {
  &--border {
  @media (max-width: 599px) {

    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
}
}

.social-media__list {
  padding: 5px 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 26px;
  row-gap: 5px;
  justify-content: center;
}

.social-media__item {
  list-style: none;
}

.social-media__link {
  display: block;
  width: fit-content;
  min-width: 28px;
  min-height: 22px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
    width: 28px;
    height: 22px;
    background-color: #666666;
    transition: opacity 0.3s, background-color 0.3s ease-in;
  }

  &--vk {
    &::before {
      -webkit-mask-image: url("../img/sprite.svg#vkontakte");
      mask-image: url("../img/sprite.svg#vkontakte");
    }
  }

  &--yt {
    &::before {
      -webkit-mask-image: url("../img/sprite.svg#youtube");
      mask-image: url("../img/sprite.svg#youtube");
    }
  }

  &--tg {
    &::before {
      -webkit-mask-image: url("../img/sprite.svg#telegram");
      mask-image: url("../img/sprite.svg#telegram");
    }
  }

  &:hover::before {
    background-color: $main-color;
  }

  &:focus::before {
    background-color: $main-color;
  }

  &:active::before {
    background-color: $main-color;
    opacity: 0.3;
  }
}
