.page-footer__social-media {
  &--border {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
}

.social-media__list {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 26px;
  justify-content: center;
}

.social-media__item {
  list-style: none;
}
