.card {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding: 20px var(--page-indentation) 0;
  position: relative;
  align-items: stretch;

  @media (min-width: 570px) {
    grid-auto-rows: minmax(auto, max-content);
    background-image: linear-gradient(to top, #f2f2f2 86%, #ffffff 0);
    padding: 0 37px 40px;
  }

  @media (min-width: 756px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    padding: 0 28px 40px;
    justify-self: center;
  }

  @media (min-width: $tablet-width) {
    padding: 0 36px 36px;
    min-width: 324px;
  }

  @media (min-width: 1100px) {
    padding: 0 36px 40px;
    min-width: 245px;
  }
}

.catalog__card {
  border-bottom: 1px solid #ebebeb;

  @media (min-width: 570px) {
    border: none;
  }
}

.card__img-link {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: block;
  justify-self: center;
  align-self: center;
  transition:
    filter 0.25s ease-in,
    opacity 0.25s ease-in;
  margin: 0 0 16px;

  @media (min-width: 570px) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  @media (min-width: 756px) {
    grid-column: 1 / -1;
    margin: 0 0 25px;
    min-height: 206px;
  }

  @media (min-width: 1100px) {
    margin: 0 0 10px;
  }

  &:hover {
    filter: brightness(1.1);
  }

  &:focus {
    filter: brightness(1.1);
  }

  &:active {
    opacity: 0.8;
  }
}

.card__img {
  display: block;
  object-fit: contain;
  width: 100%;
  height: auto;

  &--min {
    @media (min-width: 756px) {
      margin: 16px 0 0;
    }
  }
}



.card__title {
  color: #222222;
  margin: 3px 0 14px;
  font-family: $secondary-font;
  grid-column: 2 / 3;
  text-transform: uppercase;
  hyphens: auto;
  overflow-wrap: break-word;
  letter-spacing: -0.5px;

  @media (max-width: 569px) {
    width: calc(80px * var(--scale-factor));
    font-size: calc(16px * var(--scale-factor));
    line-height: calc(20px * var(--scale-factor));
  }

  @media (min-width: 570px) {
    grid-column: 1 / 3;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    text-align: center;
  }

  @media (min-width: 756px) {
    grid-column: 1 / -1;
    padding: 0 50px 14px;
    letter-spacing: -0.2px;
  }

  @media (min-width: 1100px) {
    padding: 0 20px;
    margin: 0 0 16px;
  }
}

.card__title-link {
  text-decoration: none;
  color: inherit;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.card__list {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  font-size: calc(12px * var(--scale-factor));
  line-height: calc(16px * var(--scale-factor));
  margin: 0 0 20px;

  @media (min-width: 570px) {
    font-size: 16px;
    line-height: 20px;
    grid-column: 1 / 3;
    padding: 0 0 32px;
    margin: 0;
  }

  @media (min-width: 756px) {
    grid-column: 1 / -1;
  }
}

.card__term,
.card__definition {
  margin: 0;
  padding: 0;

  @media (min-width: 570px) {
    border-bottom: 1px solid #cdcdcd;
    padding: 5px 0 6px;
  }

  @media (min-width: 1100px) {
    padding: 5px 0 8px;
  }
}

.card__term {
  text-align: left;
}

.card__definition {
  text-align: right;

  @media (min-width: 1100px) {
    margin: 0 5px 0 0;
  }
}

.card__button {
  grid-column: 1 / 3;
  display: block;
  background-color: $main-color;
  color: #ffffff;
  padding: 10px;
  margin: 0 0 23px;
  text-align: center;
  box-sizing: border-box;
  min-height: 40px;

  @media (min-width: 570px) {
    width: 100%;
    justify-self: center;
    margin: 0;
  }

  @media (min-width: 756px) {
    grid-column: 1 / -1;
  }
}
