.card {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding: 20px var(--page-indentation) 0;
  position: relative;
  grid-column: span 1;
}

.catalog__card {
  border-bottom: 1px solid #ebebeb;

  &:nth-last-child(n) {
    margin: 0 0 20px;
  }

  &--first {
    border-top: 1px solid #ebebeb;
  }
}

.card__img-link {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: block;
  justify-self: center;
  align-self: center;
}

.card__img-min {
  display: block;
  width: calc(68px * var(--scale-factor));
  height: calc(78px * var(--scale-factor));
}

.card__img-max {
  width: calc(84px * var(--scale-factor));
  height: calc(100px * var(--scale-factor));
}

.card__title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin: 0;
  padding: 0;
  color: #222222;
  font-family: $secondary-font;
  font-size: calc(16px * var(--scale-factor));
  line-height: calc(20px * var(--scale-factor));
  width: calc(80px * var(--scale-factor));
  text-transform: uppercase;
}

.card__list {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  font-size: calc(12px * var(--scale-factor));
  line-height: calc(16px * var(--scale-factor));
}

.card__term {
  text-align: left;
  margin: 0;
  padding: 0;
}

.card__definition {
  text-align: right;
  margin: 0;
  padding: 0;
}

.card__button {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  display: block;
  background-color: $main-color;
  color: #ffffff;
  padding: 10px;
  margin: 0 0 15px;
  text-align: center;
}

@media (min-width: 570px) {
  .card {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    text-align: center;
    justify-self: center;
    background-image: linear-gradient(to bottom, #ffffff 24%, #f2f2f2 0);
    width: 100%;
    box-sizing: border-box;
    min-width: 250px;
    padding: 15px;
  }

  .catalog__card {
    border: none;

    &:nth-last-child(n) {
      margin: 0;
    }
  }

  .card__img-link {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    padding: 0 0 10px;
  }

  .card__img-min {
    width: 161px;
    height: 172px;
  }

  .card__img-max {
    width: 200px;
    height: 210px;
  }

  .card__term,
  .card__definition {
    border-bottom: 1px solid #cdcdcd;
    padding: 10px 0 5px;
  }

  .card__title {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding: 0 0 14px;
    color: #222222;
    font-family: $secondary-font;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    width: 135px;
    margin: 0 auto;
  }

  .card__list {
    font-size: 16px;
    line-height: 20px;
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    margin: 0 0 32px;
  }

  .card__button {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    padding: 10px;
    width: 100%;
    justify-self: center;
    box-sizing: border-box;
    margin: 0;
  }
}


@media (min-width: $tablet-width) {
  .card {
    padding: 30px;
    min-width: 324px;
    max-width: fit-content;
  }

  .card__img-link {
    padding: 0 0 20px;
  }
}


@media (min-width: 1100px) {
  .card {
    padding: 37px;
    min-width: 245px;
  }

  .card__img-min {
    width: 161px;
    height: 172px;
  }

  .card__img-max {
    width: 169px;
    height: 210px;
  }
}
