.card {
  &--border-top {
    border-top: 1px solid #ebebeb;
  }

  &--border-bottom {
    border-bottom: 1px solid #ebebeb;
  }
}

.card__container {
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 26px;
  padding: 0 var(--page-indentation) 25px;
}

.card__img-link {
  grid-area: 1 / 1 / 3 / 2;
  display: block;
  justify-self: center;
  align-self: center;
}

.card__img {
  display: block;
}

.card__title {
  grid-area: 1 / 2 / 2 / 4;
  margin: 0;
  padding: 20px 0 14px;
  color: #222222;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: calc(50% + 20px);
}

.card__list {
  grid-area: 2 / 2 / 3 / 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 21px;
}

.card__definition {
  text-align: right;
}

.card__button {
  grid-area: 3 / 1 / 4 / 4;
  display: block;
  background-color: $main-color;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}
