.card {
  &--border-top {
    border-top: 1px solid #ebebeb;
  }

  &--border-bottom {
    border-bottom: 1px solid #ebebeb;
  }
}

.card__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: calc(26px * var(--scale-factor));
  padding: 0 0 calc(25px * var(--scale-factor));
  align-content: start;
}

.card__img-link {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: block;
  justify-self: center;
  align-self: stretch;
}

.card__img-min {
  display: block;
  width: calc(68px * var(--scale-factor));
  height: calc(78px * var(--scale-factor));
}

.card__img-min {
  display: block;
  width: calc(84px * var(--scale-factor));
  height: calc(100px * var(--scale-factor));
}

.card__title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin: 0;
  padding: calc(20px * var(--scale-factor)) 0 calc(14px * var(--scale-factor));
  color: #222222;
  font-family: $secondary-font;
  font-size: calc(16px * var(--scale-factor));
  line-height: calc(20px * var(--scale-factor));
  text-transform: uppercase;
  width: calc(50% + 20px);
}

.card__list {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  font-size: calc(12px * var(--scale-factor));
  line-height: calc(16px * var(--scale-factor));
  margin: 0 0 calc(21px * var(--scale-factor));
}

.card__term {
  text-align: left;
}

.card__definition {
  text-align: right;
}

.card__button {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  display: block;
  background-color: $main-color;
  color: #ffffff;
  padding: calc(10px * var(--scale-factor));
  text-align: center;
}

@media (min-width: 680px) {
  .card__container {
    grid-template-columns: repeat(auto-fit, minmax(324px));
    margin: 0 auto;
    text-align: center;
    padding: 35px;
    max-width: 324px;
  }

  .card__img-link {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding: 0 0 25px;
    align-self: center;
    display: flex;
    justify-content: center;
    justify-self: center;
    box-sizing: border-box;
    min-height: 230px;
  }

  .card__img-min {
    width: 161px;
    height: 172px;
  }

  .card__img-max {
    width: 168px;
    height: 206px;
  }

  .card__title {
    font-size: 20px;
    line-height: 24px;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    width: 100%;
    padding: 0;
    margin: 0 0 25px;
  }

  .card__list {
    font-size: 16px;
    line-height: 20px;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    padding: 0;
    margin: 0;
  }

  .card__button {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    padding: 10px;
  }
}
