.card {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding: 20px var(--page-indentation) 0;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    border-bottom: #ebebeb 1px solid;
    height: 1px;
    width: 100%;
    bottom: 0;
  }
}

.catalog__card {
  &:nth-last-child(n) {
    margin: 0 0 20px;
  }
}

.card__img-link {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: block;
  justify-self: center;
  align-self: center;
}

.card__img-min {
  display: block;
  width: 68px;
  height: 78px;
}

.card__title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin: 0;
  padding: 0;
  color: #222222;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 80px;
}

.card__list {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  font-size: 12px;
  line-height: 16px;
}

.card__term {
  text-align: left;
  margin: 0;
  padding: 0;
}

.card__definition {
  text-align: right;
  margin: 0;
  padding: 0;
}

.card__button {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  display: block;
  background-color: $main-color;
  color: #ffffff;
  padding: 10px;
  margin: 0 0 15px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .card {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    text-align: center;
    padding: 30px;
    justify-content: center;
    background-image: linear-gradient(to bottom, #ffffff 24%, #f2f2f2 0);


    &::after {
      border: none;
    }
  }

  .catalog__card {
    margin: 0 auto;

    &:nth-last-child(n) {
      margin: 0;
    }
  }

  .card__img-link {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    padding: 0 0 20px;
  }

  .card__img-min {
    width: 161px;
    height: 172px;
  }

  .card__img-max {
    width: 200px;
    height: 210px;
  }

  .card__term,
  .card__definition {
    border-bottom: 1px solid #cdcdcd;
    padding: 10px 0 5px;
  }

  .card__title {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin: 0;
    padding: 0 0 14px;
    color: #222222;
    font-family: $secondary-font;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    width: 135px;
    margin: 0 auto;
  }

  .card__list {
    font-size: 16px;
    line-height: 20px;
    grid-column: 1 / -1;
    grid-row: 3 / 4;

  }

  .card__button {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    padding: 10px;
  }
}

@media (min-width: $tablet-width) {

  .card__img-min {
    width: 163px;
    height: 174px;
  }

  .card__img-max {
    width: 168px;
    height: 200px;
  }
}
