.catalog {
  padding: 0 0 25px;
  box-sizing: border-box;
}

.page-main__catalog {
  margin: 0 0 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    border-top: 1px solid #ebebeb;
  }

  &::after {
    position: absolute;
    content: "";
    border-bottom: #ebebeb 1px solid;
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}

.catalog__title {
  padding: 0 20px;
  margin: 27px 0 34px;
}

.catalog__additionally {
  text-align: center;
  position: relative;
  padding: 75px 0 20px;
  margin: 0 auto;

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: tomato;
    transform: translate(-50%, -50%);
  }

  &::before {
    top: 25px;
    left: 50%;
    width: 30px;
    height: 2px;
    margin-top: -0.5px;
  }

  &::after {
    top: 25px;
    left: 50%;
    width: 2px;
    height: 30px;
    margin-left: -0.5px;
  }
}

.catalog__additionally-title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  padding: 0 10px;
}

.catalog__additionally-text {
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 21px;
}

.catalog__additionally-button {
  background-color: #f2f2f2;
  color: #444444;
  text-decoration: none;
  padding: 10px;
  margin: 0 20px;
  display: block;
  transition: background-color 0.3s ease;

  &:hover,
  &:focus,
  &:active {
    background-color: #ebebeb;
    color: #444444;
  }
}

@media (min-width: 570px) {
  .page-main__catalog {
    margin: 0 0 70px;
    padding: 0 var(--page-indentation);

    &::before,
    &::after {
      border: none;
      width: 0%;
    }
  }

  .catalog__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: 1fr auto;
    grid-auto-rows: auto;
    grid-column-gap: 20px;
    max-width: 820px;
  }

  .catalog__title {
    grid-column: 1 / -1;
    padding: 0;
  }

  .catalog__additionally {
    text-align: center;
    padding: 130px 32px 40px;
    outline: 1px solid #f2f2f2;
    margin: auto 0 0;
    max-width: 324px;
    box-sizing: border-box;

    &::after {
      border: none;
    }
  }

  .catalog__additionally-title {
    font-size: 20px;
    line-height: 26px;
    padding: 0 0 30px;
  }

  .catalog__additionally-text {
    font-size: 16px;
    line-height: 18px;
    padding: 0 0 38px;
  }
}

@media (min-width: $tablet-width) {
  .catalog__container {
    grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
    grid-column-gap: 60px;
    max-width: 1000px;
  }

  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 67px;
  }
}

@media (min-width: 1100px) {
  .catalog__container {
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    grid-column-gap: 80px;
    max-width: 1220px;
  }

  .catalog__additionally {
    min-width: 245px;
    padding: 140px 32px 40px;
  }
}
