.catalog {
  padding: 0 0 25px;
  box-sizing: border-box;
}

.page-main__catalog {
  margin: 0 0 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    border-top: 1px solid #ebebeb;
  }

  &::after {
    position: absolute;
    content: "";
    border-bottom: #ebebeb 1px solid;
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}

.catalog__title {
  padding: 0 20px;
  margin: 27px 0 34px;
}

.catalog__additionally {
  text-align: center;
  position: relative;
  padding: 75px 0 20px;
  margin: 0 auto;
  box-sizing: border-box;

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: #d3d3d3;
    transform: translate(-50%, -50%);
    top: 25px;
    left: 50%;
  }

  &::before {
    height: 2px;
    width: 30px;
    margin-top: -1px;
  }

  &::after {
    width: 2px;
    height: 30px;
    margin-left: -1px;
  }
}

.catalog__additionally-title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  padding: 0 10px;
}

.catalog__additionally-text {
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 21px;
}

.catalog__additionally-button {
  background-color: #f2f2f2;
  color: #444444;
  text-decoration: none;
  padding: 10px;
  margin: 0 20px;
  display: block;
  transition: background-color 0.3s ease;

  &:hover,
  &:focus,
  &:active {
    background-color: #ebebeb;
    color: #444444;
  }
}

@media (min-width: 570px) {
  .page-main__catalog {
    margin: 0 0 70px;

    &::before,
    &::after {
      border: none;
      width: 0%;
    }
  }

  .catalog__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: 1fr auto;
    grid-auto-rows: auto;
    gap: 20px;
    padding: 0 var(--page-indentation);
  }

  .catalog__title {
    grid-column: 1 / -1;
    padding: 0;
  }

  .catalog__additionally {
    text-align: center;
    padding: 0 32px 0 32px;
    outline: 1px solid #f2f2f2;
    margin: auto auto 0;
    padding: 0 28px;
    min-width: 250px;
    min-height: 431px;
    align-self: end;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;

    &::before,
    &::after {
      top: 80px;
    }

    &::before {
      height: 2px;
      width: 60px;
      margin-top: -1px;
    }

    &::after {
      width: 2px;
      height: 60px;
      margin-left: -1px;
      border: none;
    }

    .catalog__additionally-title {
      font-size: 20px;
      line-height: 26px;
      padding: 0;
      margin: 0;
      align-self: end;
    }

    .catalog__additionally-text {
      font-size: 16px;
      line-height: 18px;
      margin: 0;
      padding: 0;
      align-self: center;
    }

    .catalog__additionally-button {
      box-sizing: border-box;
      height: fit-content;
      margin: 0 0 28px;
      align-self: end;
    }
  }
}

@media (min-width: $tablet-width) {
  .catalog__container {
    grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
    gap: 60px;
  }

  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 7px;
  }

  .catalog__additionally {
    min-width: 324px;
    max-width: fit-content;
    padding: 0 36px;
  }

  .catalog__additionally-button {
    margin: 0 0 36px;
  }
}

@media (min-width: 1100px) {
  .catalog__container {
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    gap: 63px 80px;
  }

  .catalog__additionally {
    min-width: 245px;
    min-height: 429px;
    padding: 0 28px;
  }

  .catalog__additionally-button {
    margin: 0 0 28px;
  }
}
