.extras {
  padding: 0 var(--page-indentation) 0;
}

.page-main__extras {
  margin: 20px 0 35px;
}

.extras__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  margin: 0 0 36px;
}

.extras__catalog {
  margin: 0;
  padding: 0;
}

.extras__product {
  list-style: none;

  &--border-top {
    border-top: 1px solid #cdcdcd;
  }

  &--border-bottom {
    border-bottom: 1px solid #cdcdcd;
  }
}

.extras__subject {
  margin: 12px 0 13px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-style: normal;
}

.extras__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 15px;
}

.extras__button {
  display: block;
  background-color: $main-color;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  margin: 0 0 18px;
}

.extras__footer {
  position: relative;
  min-width: 280px;
  min-height: 290px;
  display: grid;
  justify-content: center;
  align-content: center;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../../img/cat-case.png");
    background-color: $main-color;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    top: 0;
    bottom: 0;
    height: auto;
    z-index: -2;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: $main-color;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    opacity: 0.85;
    z-index: -1;
  }
}

.extras__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  padding: 0 61px 0 58px;
}

@media (min-width: $tablet-width) {
  .extras__catalog {
    margin: 0 0 70px;
  }

  .extras__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 80px 37px;
  }

  .extras__product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
  }

  .extras__subject {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin: 0 0 0 37px;
    padding: 29px 0 25px;
  }

  .extras__list {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin: 0 37px 0;
    padding: 29px 0 25px;
    justify-content: flex-end;
  }

  .extras__button {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    margin: 0 37px 21px;
  }

  .extras__footer {
    min-height: 200px;
    grid-template-columns: 1fr 1fr;

    &::before {
      background-image: url("../../img/cat-case-tablet.jpg");
    }
  }

  .extras__text {
    grid-column: 2 / 3;
    width: 161px;
    text-align: start;
  }
}

@media (min-width: $desktop-width) {
  .extras__layout {
    display: grid;
    grid-template-columns: 1fr 245px;
    grid-template-rows: 1fr auto;
    grid-column-gap: 60px;
  }

  .extras__product {
    display: grid;
    grid-template-columns: 1fr 1fr 245px;
    grid-template-rows: 1fr auto;
    grid-column-gap: 40px;
  }

  .extras__title {
    grid-column: 1 / -1;
    margin: 0 0 79px;
  }

  .extras__catalog {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 0;
    padding: 0;
  }

  .extras__footer {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    min-width: 245px;
    min-height: 286px;
    align-content: end;

    &::before {
      background-image: url("../../img/cat-case.jpg");
    }
  }

  .extras__subject {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin: 0;
    padding: 25px 0;
  }

  .extras__list {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-content: space-between;
    padding: 25px 0;
    margin: 0;
  }

  .extras__button {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    align-self: center;
    margin: 0;
  }

  .extras__text {
    text-align: center;
    margin: 0 0 50px 0;
  }
}
