.extras {
  padding: 0 var(--page-indentation) 0;
  margin: 20px 0 35px;
}

.extras__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  margin: 0 0 36px;
}

.extras__catalog {
  margin: 0;
  padding: 0;
}

.extras__product {
  list-style: none;

  &--border-top {
    border-top: 1px solid #cdcdcd;
  }

  &--border-bottom {
    border-bottom: 1px solid #cdcdcd;
  }
}

.extras__subject {
  margin: 12px 0 13px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-style: normal;
}

.extras__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 15px;
}

.extras__button {
  display: block;
  background-color: $main-color;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  margin: 0 0 18px;
}

.extras__footer {
  position: relative;
  min-width: 280px;
  min-height: 290px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../../img/cat-case.png");
    background-color: $main-color;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    top: 0;
    height: 290px;
    z-index: -2;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: $main-color;
    width: 100%;
    height: 290px;
    top: 0;
    opacity: 0.85;
    z-index: -1;
  }
}

.extras__text {
  position: absolute;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  bottom: 43px;
  padding: 0 61px 0 58px;
}
