.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --main-color: #ffffff;
  --accent-color: #68b738;
  --basic-text: #444444;
  --title-color: #000000;
}

body {
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--main-color);
  color: var(--basic-text);
  min-height: 100%;
  min-width: 320px;
}

.main-container {
  margin: 0 auto;
  width: 320px;
}
