@import "common/fonts.scss";
@import "common/variables.scss";
@import "common/general-rules.scss";
@import "common/basic-button.scss";
@import "common/text-rules.scss";

@import "index/page-header.scss";
@import "index/user-menu.scss";

@import "index/hero.scss";
@import "index/ration-description.scss"

