.page-header {
  font-family: $base-font;
  font-style: normal;
  font-weight: 400;
  position: relative;
}

.page-header__logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  max-width: 70%;
  width: $width-xs;
  margin: 0 auto;
}

.page-header__logo {
  text-decoration: none;
  padding: 23px 20px;
  position: relative;
}

.page-header__secondary-logo {
  position: absolute;
  left: 109px;
  top: 50%;
  transform: translateY(-50%);
}

.page-header__container {
  @include mobile-width;
}

.page-header__title {
  margin: 0 0 41px;
  padding: 27px 20px 0;
}
