.page-header {
  font-style: normal;
  font-weight: 400;
}

.page-header__logo-wrapper {
  padding: 23px 0;
  position: relative;
}

.page-header__logo {
  text-decoration: none;
  display: block;
}

.page-header__primary-logo {
  display: block;
  width: 33px;
  height: 38px;

  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

.page-header__secondary-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 101px;
  height: 18px;
}

.page-header__title {
  margin: 0 0 41px;
  padding: 27px var(--page-indentation) 0;
}

.page-header__subtitle {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 35px;
  padding: 0 var(--page-indentation);
}


@media (min-width: $tablet-width) {

  .page-header__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 var(--page-indentation);
  }

  .page-header__primary-logo {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
      width: 60px;
      height: 50px;
    }
  }

  .page-header__secondary-logo {
    left: 90px;
    transform: translate(0, -50%);
  }
}

@media (min-width: $desktop-width) {

  .page-header__primary-logo {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
      width: 70px;
      height: 59px;
    }
  }

  .page-header__secondary-logo {
    left: 70px;
    transform: translate(0, -50%);
    width: 118px;
    height: 21px;
  }
}
