.page-header {
  font-family: $base-font;
  font-style: normal;
  font-weight: 400;
}

.page-header__logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: start;
}

.page-header__logo {
  text-decoration: none;
  padding: 23px 20px;
  position: relative;
}

.page-header__secondary-logo {
  position: absolute;
  left: 109px;
  top: 50%;
  transform: translateY(-50%);
}

.page-header__title {
  margin: 0 0 41px;
  padding: 27px 20px 0;
}
