.page-header {
  font-style: normal;
  font-weight: 400;
}

.page-header__logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 23px var(--page-indentation);
  position: relative;
}

.page-header__logo {
  text-decoration: none;
}

.page-header__secondary-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.page-header__title {
  margin: 0 0 41px;
  padding: 27px var(--page-indentation) 0;
}

.page-header__subtitle {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 35px;
  padding: 0 var(--page-indentation);
}
