.page-header {
  font-style: normal;
  font-weight: 400;
  position: relative;
}

.page-header__logo-wrapper {
  padding: 13px 0;
  margin: 0 0 0 20px;
  position: relative;
}

.page-header__logo {
  text-decoration: none;
  display: block;
  width: fit-content;
}

.page-header__primary-logo {
  display: block;
  width: 33px;
  height: 38px;

  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

.page-header__secondary-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 101px;
  height: 18px;
}

.page-header__logo:hover,
.page-header__logo:focus {
  opacity: 0.8;
}

.page-header__logo:active {
  opacity: 0.6;
}

@media (min-width: $tablet-width) {
  .page-header__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 var(--page-indentation);
  }

  .page-header__logo-wrapper {
    margin: 0;
  }


  .page-header__primary-logo {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
      width: 60px;
      height: 50px;
    }
  }

  .page-header__secondary-logo {
    left: 90px;
    transform: translate(0, -50%);
  }
}

@media (min-width: 1200px) {

  .page-header {

    &::before {
      position: absolute;
      content: "";
      background-image: linear-gradient(to left, $main-color 50%, #ffffff 50%);
      background-color: $main-color;
      top: 0;
      right: 0;
      width: 100%;
      min-height: 694px;
      opacity: 0.85;
      z-index: -10;
    }

    &::after {
      position: absolute;
      content: "";
      background-image: linear-gradient(to right, #ffffff 50%, #3a3a3a 50%);
      top: 0;
      left: 0;
      width: 100%;
      min-height: 694px;
      z-index: -520;
      opacity: 1;
    }
  }

  .page-header__container {
    min-height: 143px;
  }

  .page-header__primary-logo {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
      width: 70px;
      height: 59px;
    }
  }

  .page-header__secondary-logo {
    width: 118px;
    height: 21px;
  }
}
