.page-header__user-menu {
  margin: 0 0 0 auto;
}

.user-menu__navigation-list {
  text-align: center;
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (max-width: 767px) {
    background: #ffffff;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 3;
    display: none;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    column-gap: 33px;
  }
}

.user-menu__navigation-item {
  padding: 13px 0;

  &--first-item {
    border-top: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
  }

  &--other-item {
    border-bottom: solid 1px #e6e6e6;
  }

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.user-menu__navigation-link {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 11px 0;
  width: fit-content;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: 1200px) {
    font-size: 20px;
    line-height: 30px;
  }

  &--active {
    @media (min-width: $tablet-width) {
      border-bottom: 2px solid $main-color;
      margin: 0 0 2px;
      transition: opacity 0.3s ease;
    }
  }

  &--accent {
    @media (min-width: 1200px) {
      color: #ffffff;
    }
  }

  &--accent-active {
    @media (min-width: 1200px) {
      border-bottom: 2px solid #ffffff;
      margin-bottom: 2px;
      transition: opacity 0.3s ease;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

//Функционирование мобильного меню
@media (max-width: 767px) {
  .user-menu__button-menu {
    position: absolute;
    width: 24px;
    height: 24px;
    border: none;
    display: block;
    top: 23px;
    right: 21px;
    z-index: 2;
    background-color: #ffffff;
    cursor: pointer;

    &::before,
    &::after {
      opacity: 0;
      transform: rotate(0deg);
      content: "";
      position: absolute;
      background-color: #000000;
      top: 8px;
      left: 0;
      width: 24px;
      height: 2px;
    }
  }

  // Управление видимостью списка с JS и без
  .user-menu--no-js .user-menu__navigation-list,
  .user-menu--opened .user-menu__navigation-list {
    display: block;
    animation: 0.3s ease-in-out 0s 1 forwards running opacity-nav;
  }

  .user-menu--no-animation .user-menu__navigation-list {
    transition: none;
  }

  // Открыть меню
  .user-menu--closed .user-menu__button-menu {
    &::before {
      box-shadow: 0 -8px #000000, 0 8px #000000;
      opacity: 1;
    }

    &:hover::before,
    &:focus::before {
      background-color: #3e3e3e;
      box-shadow: 0 -8px #3e3e3e, 0 8px #3e3e3e;
    }

    &:active::before {
      background-color: #6b6b6b;
      box-shadow: 0 -8px #6b6b6b, 0 8px #6b6b6b;
    }
  }

  .user-menu--no-animation .user-menu__button-menu::before {
    transition: none;
  }

  // Закрыть меню
  .user-menu--opened {
    .user-menu__button-menu {

      &::before,
      &::after {
        transition: transform 0.3s ease;
      }

      &::before {
        opacity: 1;
        transform: rotate(45deg);
      }

      &::after {
        opacity: 1;
        transform: rotate(-45deg);
      }

      &:hover,
      &:focus {

        &::before,
        &::after {
          background-color: #3e3e3e;
        }
      }

      &:active {

        &::before,
        &::after {
          background-color: #6b6b6b;
        }
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .user-menu__button-menu {
    display: none;
  }
}

@keyframes opacity-nav {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
