.page-header__user-menu {
  margin: 0 0 0 auto;
}

.user-menu__navigation-list {
  text-align: center;
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.user-menu__navigation-item {
  &--first-item {
    border-top: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
  }

  &--other-item {
    border-bottom: solid 1px #e6e6e6;
  }
}

.user-menu__navigation-link {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 23px 17px;
}

.user-menu__button-menu {
  position: absolute;
  width: 24px;
  height: 24px;
  border: none;
  display: block;
  top: 23px;
  right: 21px;
  z-index: 2;
  background-color: #ffffff;
  cursor: pointer;
}

//Открыть меню
.user-menu--closed .user-menu__button-menu::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 2px;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 6px #000000, 0 12px #000000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.user-menu--closed .user-menu__button-menu:hover::before {
  background-color: #3e3e3e;
  box-shadow: 0 6px #3e3e3e, 0 12px #3e3e3e;
}

.user-menu--closed .user-menu__button-menu:active::before {
  background-color: #6b6b6b;
  box-shadow: 0 6px #6b6b6b, 0 12px #6b6b6b;
}

//Закрыть меню
.user-menu--opened .user-menu__button-menu {
  top: 17px;
  right: 20px;
  transition: background-color 0.3s ease;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: #000000;
    width: 25px;
    height: 2px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.user-menu--opened .user-menu__button-menu:hover::before {
  background-color: #3e3e3e;
}

.user-menu--opened .user-menu__button-menu:active::before {
  background-color: #6b6b6b;
}

@media (min-width: $tablet-width) {
  .user-menu__navigation-list {
    flex-direction: row;
  }

  .user-menu__navigation-item {
    border: none;
  }

  .user-menu__navigation-link {
    font-size: 18px;
    line-height: 24px;
  }

  .user-menu__button-menu {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .user-menu__navigation-link {
    font-size: 20px;
    line-height: 30px;
  }
}
