.user-menu__navigation-list {
  font-family: $secondary-font;
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.user-menu__navigation-item {
  &--first-item {
    border-top: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
  }

  &--other-item {
    border-bottom: solid 1px #e6e6e6;
  }
}

.user-menu__navigation-link {
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 23px 20px;
}

.user-menu__button-menu {
  position: absolute;
  content: '';
  width: 24px;
  height: 24px;
  background-color: #00f621;
  border: none;
  display: block;
  top: 33px;
  right: 20px
}
