.page-header__user-menu {
  margin: 0 auto;
}

.user-menu__navigation-list {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.user-menu__navigation-item {
  padding: 23px 20px;

  &--first-item {
    border-top: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
  }

  &--other-item {
    border-bottom: solid 1px #e6e6e6;
  }
}

.user-menu__navigation-link {
  text-decoration: none;
  color: #000000;
}
