.page-header__user-menu {
  margin: 0 0 0 auto;
}

.user-menu__navigation-list {
  position: relative;
  text-align: center;
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.user-menu__navigation-item {

  &--first-item {
    border-top: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
  }

  &--other-item {
    border-bottom: solid 1px #e6e6e6;
  }
}

.user-menu__navigation-link {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 23px 17px;
}

.user-menu__button-menu {
  position: absolute;
  content: '';
  width: 24px;
  height: 24px;
  background-color: #00f621;
  border: none;
  display: block;
  top: 33px;
  right: var(--page-indentation);
}

@media (min-width: $tablet-width) {
  .user-menu__navigation-list {
    flex-direction: row;
  }

  .user-menu__navigation-item {
    border: none;
  }

  .user-menu__navigation-link {
    font-size: 18px;
    line-height: 24px;
  }

  .user-menu__button-menu {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .user-menu__navigation-link {
    font-size: 20px;
    line-height: 30px;
  }
}
