.hero {
  position: relative;

  @media (max-width: 767px) {

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: $main-color;
      width: 100%;
      min-height: 302px;
      top: 0;
    }

    &::before {
      background-image: url("../img/index/hero-background--small.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      left: 50%;
      transform: translate(-50%);
      z-index: -2;

      @media (min-resolution: 2dpx) {
        background-image: url("../img/hero-background--small@2x.jpg");
      }
    }

    &::after {
      left: 0;
      opacity: 0.85;
      z-index: -1;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0 var(--page-indentation);
  }
}

.page-header__hero {
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 0 526px;
  }

  @media (min-width: 1000px) {
    margin: 0 0 133px;
  }

  @media (min-width: 1200px) {
    margin: 0 0 266px;
  }
}

.hero__container {
  @media (min-width: $tablet-width) {
    width: 515px;
    position: relative;
    margin: 0 0 0 90px;
  }

  @media (min-width: 1000px) {
    margin: 68px 0 0 79px;
  }
}

.hero__primary-title {
  margin: 0;
  padding: 28px 10px 25px;
  color: #ffffff;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: #000000;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 42px;
    padding: 0;
    max-width: 440px;
  }
}

.hero__slogan {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding: 0 10px 29px;
  margin: 0;
  color: #ffffff;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: #000000;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 50px;
    padding: 0;
    max-width: 430px;
  }
}

.hero__advertising-banner {
  display: block;
  margin: 0 auto;
  padding: 0 0 3px;
  width: 280px;
  height: 270px;
  object-fit: contain;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 709px;
    height: 609px;
    z-index: -1;
    top: 202px;
    left: -89px;
  }

  @media (min-width: 1000px) {
    width: 552px;
    height: 499px;
    left: 366px;
    top: -82px;
  }
}

.hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  min-height: 40px;
  min-width: 280px;
  padding: 10px;
  margin: 0 auto;
  width: fit-content;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 20px;
    line-height: 26px;
    min-width: 244px;
    min-height: 54px;
    max-width: 350px;
  }
}
