.hero {
  text-align: center;
  position: relative;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../../img/index-background.jpg");
    background-color: $main-color;
    background-size: $mobile-width 302px;
    background-repeat: no-repeat;
    width: $mobile-width;
    height: 302px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: $main-color;
    position: absolute;
    width: 100vw;
    height: 302px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.85;
    z-index: -1;
  }
}

.hero__primary-title {
  font-family: $secondary-font;
  margin: 0;
  padding: 23px 10px 25px;

  &--mobile {
  color: #ffffff;
}
}

.hero__slogan {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding: 0 10px 29px;
  margin: 0;

  &--mobile {
    color: #ffffff;
  }
}

.hero__advertising-banner {
  display: block;
  margin: 0 auto;
}

.hero__button {
  display: block;
  padding: 10px;
  text-align: center;
  margin: 0 20px;
  background-color: $main-color;
  color: #ffffff;
  margin: 0 0 20px;
}
