.promo-block {
  padding: 0 var(--page-indentation) 49px;
}

.promo-block__title {
  margin: 0 0 40px;

}

.promo-block__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-auto-rows: 60px;
  gap: 20px;
}

.promo-block__item {
  list-style: none;
  position: relative;
  padding: 0 0 0 80px;

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-color: $main-color;
    top: 0;
    left: 0;
  }
}

@media (min-width: $tablet-width) {
  .page-main__promo-block {
    margin: 0 auto;
    border-bottom: 1px solid #e6e6e6;
  }

  .promo-block__title {
    margin: 0 0 32px;
    font-size: 60px;
    line-height: 60px;
  }

  .promo-block__list {
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    grid-template-rows: auto;
    grid-auto-rows: auto;
    gap: 37px 60px;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    counter-reset: item;
  }

  .promo-block__item {
    padding: 151px 0 57px;
    width: 245px;
    margin: 0 auto;

    &::before {
      position: absolute;
      content: "";
      width: 80px;
      height: 80px;
      background-color: $main-color;
      top: 40px;
      left: 0;
    }

    &::after {
      color: #f2f2f2;
      counter-increment: item;
      content: counter(item);
      font-size: 280px;
      line-height: 280px;
      font-family: $secondary-font;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
    }
  }
}

@media (min-width: 1237px) {
  .page-main__promo-block {
    margin: 0;
    border: none;
  }

  .promo-block__list {
    margin: 0;
  }
}
