.promo-block {
  padding: 0 var(--page-indentation) 49px;
}

.promo-block__title {
  margin: 0 0 40px;
}

.promo-block__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-auto-rows: 60px;
  gap: 20px;
}

.promo-block__item {
  list-style: none;
  position: relative;
  padding: 0 0 0 80px;

  &::before {
    position: absolute;
    content: '';
    width: 60px;
    height: 60px;
    background-color: $main-color;
    top: 0;
    left: 0;
  }
}

.promo-block__item-number {
  display: none;
}


@media (min-width: $tablet-width) {
  .page-main__promo-block {
    margin: 0;
    border-bottom: 1px solid #e6e6e6;
    }

  .promo-block__title {
    margin: 0 0 32px;
  }

  .promo-block__list {
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    grid-template-rows: auto;
    grid-auto-rows: auto;
    gap: 37px 60px;
    align-items: center;
    margin: 0 auto;
  }

  .promo-block__item {
    padding: 151px 0 57px;
    width: 245px;

    &::before {
      position: absolute;
      content: '';
      width: 80px;
      height: 80px;
      background-color: $main-color;
      top: 40px;
      left: 0;
    }
  }

  .promo-block__item-number {
    display: inline;
    position: absolute;
    font-family: $secondary-font;
    color: #f2f2f2;
    font-size: 280px;
    line-height: 280px;
    z-index: -1;
    top: 0;
    right: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-main__promo-block {
    margin: 0;
    border: none;
  }

  .promo-block__list {
    margin: 0;
  }
}
