.promo-block {
  padding: 0 var(--page-indentation) 49px;
}

.promo-block__title {
  margin: 0 0 40px;
}

.promo-block__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-row-gap: 26px;
}

.promo-block__item {
  list-style: none;
}

@media (min-width: $tablet-width) {
.page-main__promo-block {
  margin: 0;
}

  .promo-block__title {
    margin: 0 0 32px;
  }

  .promo-block__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    grid-template-rows: auto;
    gap: 37px 60px;
    align-items: center;
    margin: 0 75px 0 0;
  }

  .promo-block__item {
    padding: 151px 0 57px;
    position: relative;
    width: 245px;

    &::before {
      position: absolute;
      content: '';
      width: 80px;
      height: 80px;
      background-color: $main-color;
      top: 40px;
      left: 0;
    }
  }

  .promo-block__item-number {
    position: absolute;
    font-family: $secondary-font;
    color: #f2f2f2;
    font-size: 280px;
    line-height: 280px;
    z-index: -1;
    top: 0;
    right: 0;
  }
}

@media (min-width: $desktop-width) {
.page-main__promo-block {
    margin: 0;
  }

  .promo-block__list {
    margin: 0;
  }
}
