.ration-description {
  display: grid;
  gap: 20px;
}

.page-main__ration-description {
  margin: 0 0 20px;
}

.ration-description__wrapper {
  background-color: #f2f2f2;
  padding: 30px 20px 22px;
  @include mobile-width;
}

.ration-description__title {
  margin: 0;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.ration-description__purpose {
  padding: 0 0 23px;

  &--line {
    border-bottom: 1px solid #d9d9d9;
  }
}

.ration-description__link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
