.ration-description {
  display: grid;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.page-main__ration-description {
  margin: 0 var(--page-indentation) 20px;

  @media (min-width: $tablet-width) {
    margin: 0 var(--page-indentation) 45px;
  }

  @media (min-width: 1200px) {
    margin: 0 var(--page-indentation) 71px;
  }
}

.ration-description__wrapper {
  background-color: #f2f2f2;
  padding: 29px 20px 22px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 77px 52px 56px;
  }

  @media (min-width: 1200px) {
    padding: 77px 61px 59px 52px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background-color: $main-color;
    border-radius: 50%;
    left: 20px;
    top: 24px;
    float: left;
    margin: 0 20px 0 0;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
      left: auto;
      right: 63px;
      top: 92px;
      float: right;
      margin: 0;
    }

    @media (min-width: 1200px) {
      width: 100px;
      height: 100px;
      top: 41px;
      left: 52px;
      float: left;
      margin: 0 25px 0 0;
    }
  }
}

.ration-description__icon {
  position: absolute;

  &--slim {
    width: 36px;
    height: 50px;
    left: 27px;
    top: 21px;

    @media (min-width: $tablet-width) {
      width: 140px;
      height: 194px;
      right: 92px;
      top: 81px;
      left: auto;
    }

    @media (min-width: 1200px) {
      width: 70px;
      height: 97px;
      top: 71px;
      left: 67px;
    }
  }

  &--muskular {
    width: 67px;
    height: 28px;
    left: 12px;
    top: 35px;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 172px;
      top: 105px;
      right: 30px;
      left: auto;
    }

    @media (min-width: 1200px) {
      width: 134px;
      height: 56px;
      top: 97px;
      left: 34px;
    }
  }
}

.ration-description__title {
  margin: 0 0 30px 71px;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: #000000;

  @media (max-width: 767px) {
    word-spacing: 0.1em;
  }


  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 24px;
  }

  @media (min-width: 1200px) {
    margin: 0 0 73px;
  }
}

.ration-description__purpose {
  padding: 0 0 23px;
  margin: 0 0 18px;

  &--line {
    @media (max-width: 767px) {
      border-bottom: 1px solid #d9d9d9;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin: 0 200px 52px 0;
    padding: 0 70px 0 0;
    color: #000000;
  }

  @media (min-width: 1200px) {
    padding: 0;
    margin: 0 0 27px;
  }
}

.ration-description__link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  position: relative;
  display: block;
  width: fit-content;
  padding: 0 47px 0 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: #000000;
    right: -2px;
    top: 50%;

    @media (min-width: $tablet-width) {
      right: -11px;
    }
  }

  &::before {
    width: 8px;
    height: 2px;
    transform: translate(-24px, -50%);
  }

  &::after {
    -webkit-mask-image: url("../img/sprite.svg#arrow");
    mask-image: url("../img/sprite.svg#arrow");
    mask-position: right center;
    -webkit-mask-position: right center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
    width: 24px;
    height: 12px;
    transform: translate(-8px, -50%);
    transition: transform 0.3s;
  }

  &:hover::after {
    transform: translate(0, -50%);
  }

  &:focus::after {
    transform: translate(0, -50%);
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
