.success-stories {
  background-color: #eaeaea;
  padding: 25px 20px 40px;
  @include mobile-width;
}

.success-stories__title {
  margin: 0;
}

.success-stories__progress {
  display: grid;
  grid-template-columns: 124px 124px;
  grid-template-rows: auto auto;
  column-gap: 32px;
  row-gap: 8px;
}

.success-stories__progress-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.success-stories__metrics {
  font-family: $secondary-font;
  font-weight: 24px;
  line-height: 24px;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.success-stories__options {
  font-weight: 12px;
  line-height: 100%;
  display: block;
  text-align: center;
}

.success-stories-accent-text {
  font-family: $secondary-font;
  font-weight: 20px;
  text-transform: uppercase;
  text-align: center;
}
