.user-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}

.user-menu__navigation-list {
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.user-menu__navigation-item {
  padding: 23px 20px;

  &--first-item {
    border-top: solid 1px #E6E6E6;
    border-bottom: solid 1px #E6E6E6;
  }

  &--other-item {
    border-bottom: solid 1px #E6E6E6;
  }
}

.user-menu__navigation-link {
  text-decoration: none;
  color: #000000;
}

